*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#050816;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
overflow-x:hidden;
}

.bg-overlay{
position:fixed;
inset:0;
background:
radial-gradient(circle at top,
rgba(0,153,255,.25),
transparent 40%),
radial-gradient(circle at bottom,
rgba(0,255,170,.15),
transparent 40%);
z-index:-1;
}

.player-wrapper{
width:100%;
max-width:1300px;
background:rgba(255,255,255,.05);
backdrop-filter:blur(18px);
border:1px solid rgba(255,255,255,.08);
border-radius:24px;
overflow:hidden;
box-shadow:
0 0 50px rgba(0,0,0,.5);
}

.topbar{
padding:18px 22px;
display:flex;
justify-content:space-between;
align-items:center;
background:
linear-gradient(
90deg,
#081120,
#13294d
);
}

.channel{
display:flex;
align-items:center;
gap:10px;
color:white;
font-weight:700;
letter-spacing:1px;
}

.live-dot{
width:10px;
height:10px;
background:red;
border-radius:50%;
animation:pulse 1s infinite;
}

@keyframes pulse{
0%{
transform:scale(1);
}
50%{
transform:scale(1.5);
}
100%{
transform:scale(1);
}
}

#fullscreenBtn{
border:none;
background:#0d6efd;
color:white;
padding:12px 14px;
border-radius:10px;
cursor:pointer;
font-size:16px;
}

.video-container{
position:relative;
background:black;
}

video{
width:100%;
display:block;
background:black;
aspect-ratio:16/9;
}

.loader{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:60px;
height:60px;
border:5px solid rgba(255,255,255,.2);
border-top:5px solid white;
border-radius:50%;
animation:spin 1s linear infinite;
z-index:2;
}

.credit{
    text-align:center;
    padding:18px;
    color:#9ca3af;
    font-size:14px;
    letter-spacing:0.5px;
    backdrop-filter:blur(10px);
}

.credit strong{
    color:#00d4ff;
}

@keyframes spin{
100%{
transform:
translate(-50%,-50%)
rotate(360deg);
}
}

.bottom-info{
padding:18px;
display:flex;
justify-content:space-between;
align-items:center;
color:white;
background:#081120;
}

.match{
font-weight:600;
}

.status{
color:#00ff99;
font-weight:700;
}

@media(max-width:768px){

.topbar{
padding:14px;
}

.channel span{
font-size:13px;
}

.bottom-info{
flex-direction:column;
gap:8px;
text-align:center;
}

#fullscreenBtn{
padding:10px 12px;
}

}

@media(max-width:480px){

.player-wrapper{
border-radius:14px;
}

.channel span{
font-size:11px;
}

}
